<div class="container">
  <div>
    <h5>配送先登録/一覧</h5>
  </div>

  <%= form_with model: @new_address do |f| %>
    <div class="row">
      <table>
        <tr>
          <td><%= f.label :"郵便番号" %></td>
          <td><%= f.text_field :postal_code %></td>
        </tr>

        <tr>
          <td><%= f.label :"住所" %></td>
          <td><%= f.text_field :address %></td>
        </tr>

        <tr>
          <td><%= f.label :"宛名" %></td>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
        </tr>

      </table>
    </div>
  <% end %>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
        </tr>
      </thead>

      <% @address.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
            <%= link_to "削除する", address_path(address.id), class: "btn btn-success" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>