<% if @cart_items.empty? %>
<h1>ショッピングカート</h1>
<div class="row d-flex justify-content-center">
    <h3>カートにアイテムはありません</h3>
  </div>
  <div class="row my-5 d-flex justify-content-center">
    <%= link_to "買い物を続ける", root_path , class:"btn btn-primary" %>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row d-flex justify-content-between my-5 px-3">
    <h5 class="border p-2">
      ショッピングカート
    </h5>
    <div>
      <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, "data-confirm" => "本当に空にしますか？", class:"btn btn-danger" %>
    </div>
  </div>
</div>
<% end %>

<table class = "table table-bordered">
 <thead class = "thead-secondary">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
 </thead>

 <tbody>
   <tr>
     <% @cart_items.each do |cart_item| %>
    <tr>
      <th>
        <%= image_tag cart_item.item.get_item_image, size: "150x100" %>
        <%= cart_item.item.name %>
      </th>
      <th><%= cart_item.item.price %></th>
      <th><%= cart_item.item.amount %></th>
     <th><%= item.price*item.amount %></th>
     <th>
    　　<%= link_to "消去する", @cart_item, metod: :delete, data: { confirm: "本当に消しますか？" }, class:"btn btn-primary" %>
  　　</th>
    </tr>
     <% end %>
   </tr>
 </tbody>
</table>

<%#= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>