<div class="container">
  <div class="row d-flex justify-content-center">
      <h3 class="border p-3 my-3">
        注文情報入力
      </h3>
  </div>
<div class="row d-flex justify-content-center">
      
  <%= form_with model: Order.new, url: orders_check_path, method: :post do |f| %>
  <b>支払い方法</b>
  <div>
  <%= f.radio_button :payment_method, :credit_card, checked: true %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], {value: :credit_card} %>

   <%= f.radio_button :payment_method, :transfer %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], {value: :transfer} %>
  </div>

  <b>お届け先</b>
   <div>
    <%= f.radio_button :address_type, "customer_address", checked: true %>
    <%= f.label :address_type, "ご自身の住所" %><br>
    〒<%= current_customer.postal_code + " " + current_customer.address %><br>
    <%= current_customer.last_name + current_customer.first_name %>
   <br>
     <%=f.radio_button :address_type, [:registered_address] %>
     <%= f.label :address_type, "登録済住所から選択" %>
     <br>
     <%= f.select :registered_address_id, current_customer.addresses.all.map { |m| [[m.postal_code, m.address, m.name].join(" "), m.id] } ,include_blank: "選択" %>
     <br>
     <br>
     <%= f.radio_button :address_type, "new_address" %>
     <%= f.label :address_type, "新しいお届け先" %>
    </div>
     <table>
      <tr>
       <td>郵便番号（ハイフンなし）</td>
       <td><%= f.text_field :new_postal_code, class: "rounded" %></td>
      </tr>

      <tr>
       <td>住所</td>
       <td><%= f.text_field :new_address, class: "rounded" %></td>
      </tr>

      <tr>
       <td>宛名</td>
       <td><%= f.text_field :new_name, class: "rounded" %></td>
      </tr>

     </table>
   </div>
   <br>
   <div class="row d-flex justify-content-center">
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
   </div>

<% end %>