<div>
    <h4>商品一覧</h4>
    <h5>(全<%= @all_items.count %>件)</h5>
  </div>
  <br>
  <div>


    <% @items.each do |item| %>

      <div>
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(180,150) %>
        <% end %>

        <div>
          <span>
            <%= link_to item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </span>
          <br>
          <span>￥<%= (item.price * 1.10).round %></span>
           <% if item.is_sales_status %>
           <p><strong>販売中</strong></p>
            <% elsif %>
           <p><strong>販売停止</strong></p>
             <% end %>
          
        </div>
      </div>


    <% end %>
  </div>
    <!--<div class="d-flex justify-content-center">-->
    <!-- paginate @items, theme: 'bootstrap-5' %>-->
    <!--</div>-->