<div>
  <div>
    <div>
      <%= image_tag @item.get_item_image, size: "600x400"%>
    </div>
    <div>
      <table>
        <tr>
          <td><h3><%= @item.name %></h3></td>
        </tr>
        <tr>
          <td><h4><%= @item.name_explanation %></h4></td>
        </tr>
        <tr>
          <td><h3>¥<%= @item.with_tax_price %>(税込)</h3></td>
        </tr>
        <tr>
          <td>
            <% if @item.is_sales_status %>
              <% if customer_signed_in? %>
                <p>
                  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                    <%= f.hidden_field :customer_id, :value => current_customer.id %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.select :amount, *[1..50] , prompt: "個数選択" %>
                    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to "購入にはログインが必要です", new_customer_session_path, class: "btn btn-warning" %>
                </p>
              <% end %>
            <% elsif %>
             <p class="btn btn-outline-warning">販売停止</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>